body{
	background-color: black;
	font-family: fantasy;
	color: white;
}

h1{
	text-align: center;
	margin-top: 10vh;
	color: green;
}

img{
	margin: auto;
	display: block;
}

.fadeintxt{
	animation-name: fade;	
	animation-duration: 3s;
}

.logo{
	animation-name: logofade;
	animation-duration: 3s;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes logofade{
	0%{
		opacity: 0;
	}
	60%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


