*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
}

body{
	margin-bottom: 500px;
}

/*Navigation logo style*/
.logo{
	height: 50px;
	margin: 2rem;
}

/*cta button style*/
.cta{
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	padding: 10px 25px;
	border: none;
	border-radius: 15px;
	transition: all 0.5s ease 0s;
	background-color: red;
}

.cta:hover{
	background-color: darkred;
}

/*Flex utility class*/
.flex{
	display: flex;
	gap: 2rem;
}

/*Header*/
.primaryHeader{
	align-items: center;
	justify-content: space-between;
}

.primaryNavigation{
	align-items: center;
}

.navigationLinks{
	list-style: none;

}
.navigationLinks a{
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	transition: all 0.5s ease 0s;
}

.navigationLinks a:hover{
	color: red;
}

@media (max-width: 35em){
	*{
		background-color: #24252A;
	}
	.primaryNavigation{
		position: fixed;
		inset: 0 0 0 30%;
		flex-direction: column;
		background: steelblue;
	}
	.primaryNavigation ul, .primaryNavigation a, .primaryNavigation li{
		background-color: steelblue;
	}

	.navigationLinks{
		flex-direction: column;
	}
}



















